body {
    margin-left: 20px;
}

.card {
    width: 500px;
    background-color: lightgray;
    border: 1px solid darkgray;
    margin: 10px;
}

.innerCard {
    padding: 0px;

}
.header {
    color: white;
    text-align: center;
    font-size: x-large;
    padding: 1% 0;
    border: 1px solid gray;
    user-select: none;
}

.green {
    background-color: #3cba54;
    cursor: pointer;
}

.yellow {
    background-color: #f4c20d;
    cursor: pointer;
}

.red {
    background-color: #db3236;
    cursor: pointer;
}

.blue {
    background-color: #4885ed;
    cursor: pointer;
}

.dark {
    background-color: #36393f;
    cursor: pointer;
}

p {
    padding-left: 10px;
}